<h2>Add new Category</h2>

<form action="/categories" method="post">
  <input id="name" name="name" type="text" placeholder="Category Name">

  <button type="submit" class="btn-default">Add Category</button>
</form>


<a href="/">Back</a>
