<h1>Recipe Book</h1>

<h5>Recipes:</h5>
<% if @recipes.any?() %>
  <% @recipes.each() do |recipe| %>
    <a href="/recipes/<%= recipe.id() %>"><%= recipe.name() %></a><br>
  <% end %>
<% else %>
  <p>No recipes yet</p>
<% end %>

<a href ='/recipe_form' class="btn-sm btn-success" role="button">Add a Recipe</a>


<br>
<br>


<h5>Categories:</h5>
<% if @categories.any? %>
  <% @categories.each() do |category| %>
    <a href="/categories/<%= category.id() %>"><%= category.name() %></a><br>
  <% end %>
<% else %>
  <p>No categories yet</p>
<% end %>

<a href="/category_form" class="btn-sm btn-success" role="button">Add a Category</a>

<br>
<br>

<h5><a href="/ingredients">Search Recipes by Ingredients</a></h5>
