<h2>Recipes with <%= @ingredient.name() %>:</h2>

<% if @ingredient.recipes.any?() %>
  <ul class="list-unstyled">
    <% @ingredient.recipes().each() do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
      <% end %>
  </ul>
<% else %>
    <p>No <%= @ingredient.name() %> recipes.</p>
<% end %>

<ul class="list-inline">
  <li><small><a href="/ingredients">Back</a></small></li>
  <li><small><a href="/">Home</a></li></small>
</ul>
