<!DOCTYPE html>
<head>
  <title>Recipe Box</title>
  <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
  <div class="container fill clearfix">
    <%= yield %>
  </div>
</body>
</html>
